@media screen and (max-width: 480px) {
  .side-bar.show-sidebar {
    position: fixed;
    height: auto;
  }

  #layout {
    /* width: 100%; */
    /* border: 2px solid rgb(62, 193, 48); */
    margin: 0;
    padding: 0;
  }

  #edit-btn {
    right: 0px;
  }

  #filterDiv {
    height: 100%;
    position: fixed;
  }

  .dropdownBtn {
    display: block;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    padding: 0;
  }

  .logo-mobile {
    display: block;
    margin-right: 10px;
  }

  body {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #headline-sidepanel {
    padding-left: 15px;
  }

  .boards-nav-links-div {
    gap: 0;
    height: 100%;
  }

  .board-btn {
    font-size: 0.8rem;
    padding-left: 15px;
    margin-right: 15px;
    font-weight: 700;
  }

  #create-board-btn {
    padding-left: 15px;
    font-size: 0.8rem;
    font-weight: 700;
  }

  #side-logo-div {
    display: none;
  }

  .side-bar-bottom {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .hide-side-bar-div {
    display: none;
  }

  .toggle-div {
    /* width: 120px;
          height: 20px;
          margin-left: 14px;
          padding-left: 45px;
          padding-right: 45px; */
    /* border: 2px solid red; */
    margin: 0;
    width: 80%;
    align-items: center;
    margin: 20px;
    justify-content: center;
    justify-content: space-around;
    padding: 6px;
    box-sizing: border-box;
  }

  #label-checkbox-theme {
    /* width: 50px; */
    /* height: 2px; */
    right: 16px;
    /* border: 2px solid yellow; */
  }

  #icon-dark {
    width: 20px;
    height: 20px;
    margin: 0;
    /* margin-right: 20px; */
    /* border: 2px solid blue; */
  }

  #icon-light {
    width: 23px;
    height: 23px;
    margin: 0;
  }

  #headline-sidepanel {
    padding-bottom: 10px;
  }

  .side-bar {
    display: none;
    padding: 0;
    height: 60%;
    width: 60%;
    /* border: 2px solid green; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    gap: 0;
    padding-top: 15px;
    border-radius: 10px;
    border-right: 0;
    /* border: 2px solid green; */
    z-index: 10;
  }

  .container {
    /* border: 2px solid red; */
    height: auto;
    padding: 0;
    /* overflow-y: scroll; */
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid yellow; */
  }

  .card-column-main {
    height: auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
  }

  #header {
    top: 0;
    left: 0;
    /* border: 2px solid white; */
    height: 80px;
    margin: 0;
    padding-left: 18px;
    padding-right: 10px;
    border: none;
  }

  #edit-board-btn {
    top: 17px;
    display: flex;
    right: 10px;
    /* border: 2px solid red; */
    padding: 0;
  }

  #three-dots-icon {
    padding: 0;
    margin: 0;
  }

  #add-new-task-btn {
    font-size: 0;
    padding: 12px;
  }

  #editBoardDiv {
    margin: 0;
    /* border: 2px solid red; */
    top: 85px;
    right: 10px;
    bottom: 0;
    z-index: 6;
    padding: 20px;
    width: 80px;
    height: 30px;
  }

  #deleteBoardBtn {
    font-size: 12px;
    font-weight: 500;
  }

  #add-new-task-btn::before {
    content: "+";
    font-size: 18px;
    font-weight: 800;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0;
    padding-bottom: 0;
  }

  #header-board-name {
    font-size: 16px;
  }

  .column-div {
    /* padding: 18px; */
    width: 100%;
    /* border: 2px solid rgb(93, 0, 255); */
    /* box-sizing: border-box; */
  }

  .task-div {
    height: 70px;
    /* box-sizing: border-box; */
  }

  .modal-window {
    width: 95%;
  }

  .columnHeader {
    font-size: 12px;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .column-head-div {
    gap: 8px;
  }

  .edit-task-modal-window {
    width: 95%;
  }
}
